<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <strong>Editar Turma</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="editarTurmaSubmit()">
        
        <!-- Número da Turma -->
        <div class="mb-3">
          <label for="numero_turma" class="form-label">Número da Turma</label>
          <input type="number" class="form-control" id="numero_turma" formControlName="numero_turma" />
          <div *ngIf="form.get('numero_turma')?.touched && form.get('numero_turma')?.invalid">
            <small *ngIf="form.get('numero_turma')?.hasError('required')" class="text-danger">Número da turma é obrigatório</small>
            <small *ngIf="form.get('numero_turma')?.hasError('min')" class="text-danger">Deve ser maior ou igual a 1</small>
          </div>
        </div>

        <!-- Ano Letivo -->
        <div class="mb-3">
          <label for="ano_letivo" class="form-label">Ano Letivo</label>
          <input type="number" class="form-control" id="ano_letivo" formControlName="ano_letivo" />
          <div *ngIf="form.get('ano_letivo')?.touched && form.get('ano_letivo')?.invalid">
            <small *ngIf="form.get('ano_letivo')?.hasError('required')" class="text-danger">Ano letivo é obrigatório</small>
            <small *ngIf="form.get('ano_letivo')?.hasError('min')" class="text-danger">Deve ser maior ou igual a 1900</small>
            <small *ngIf="form.get('ano_letivo')?.hasError('max')" class="text-danger">Deve ser menor ou igual a 2399</small>
          </div>
        </div>

        <!-- Botão de Ação -->
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Editar
        </button>
      </form>

      <app-item-feedback [apiErrors]="apiErrors" [successMsg]="msgSuccess"></app-item-feedback>
    </div>
  </div>
</div>
