<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Alunos</strong>
    <a class="btn btn-sm btn-primary" [routerLink]="['../cadastrar']">
      Novo Aluno
    </a>
  </div>

  <app-paginate 
      [paginate]="paginate" 
      (nextPageClicked)="carregarAlunos()"
      (previousPageClicked)="carregarAlunos()">
  </app-paginate>

  <div class="card-body p-0">
    <table class="table table-striped mb-0">
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Turmas</th>
          <th class="text-end">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of paginate.content" [@fadeOut]="getState(aluno.id)">
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.cpf | cpfMask }}</td>
          <td>{{ aluno.email | lowercase }}</td>
          <td>
            <div *ngIf="aluno.turmas_matriculadas.length > 0">
              <a [routerLink]="['/turmas/aluno', aluno.id, 'matriculado']"
              cPopover="Turmas em que o aluno está matriculado"
              cPopoverPlacement="top">{{ aluno.turmas_matriculadas.length }}</a>            
            </div>
            <div *ngIf="aluno.turmas_matriculadas.length == 0">
              <a [routerLink]="['/turmas/aluno', aluno.id, 'matriculado']"
              cPopover="Matricular o aluno em uma turma"
              cPopoverPlacement="top">0</a>            
            </div>
          </td>
          <td class="text-end">

            <a class="btn btn-sm btn-outline-info me-2"
            [routerLink]="['../editar', aluno.id]"
            cPopoverPlacement="top"
            cPopover="Editar dados do aluno">
              <i class="cil-pencil"></i>
            </a>

            <a class="btn btn-sm btn-outline-secondary me-2"
              [routerLink]="['/turmas/aluno', aluno.id, 'matriculado']"
              cPopoverPlacement="top"
              cPopover="Visualizar, matricular ou desmatricular o aluno em turmas.">
              <i class="cil-settings"></i>
            </a>

            <a class="btn btn-sm btn-outline-danger"
            *ngIf="aluno.turmas_matriculadas.length > 0; else elseDeleteBtn"
                  cPopover="Excluir o aluno"
                  cPopoverPlacement="left"
                (click)="openDeleteModal(aluno)">
              <i class="cil-trash"></i>
            </a>

            <ng-template #elseDeleteBtn>
              <span cPopover="Não pode ser excluido, se o aluno estiver matriculado em mais de uma turma"
                  cPopoverPlacement="left">
                <button class="btn btn-sm btn-outline-danger"
                    [disabled]="true">
                  <i class="cil-trash"></i>
                </button>
              </span>
            </ng-template>

          </td>          
        </tr>
        <tr *ngIf="paginate.content.length === 0">
          <td colspan="5" class="text-center text-muted py-3">
            Nenhum aluno cadastrado.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginate 
      [paginate]="paginate" 
      [displayTotal]="true"
      (nextPageClicked)="carregarAlunos()"
      (previousPageClicked)="carregarAlunos()">
  </app-paginate>
  
</div>

<app-modal-exclusao-item [confirmCallback]="confirmarExclusao">
  <span modal-header>Excluir aluno</span>
  <div modal-body>
    <dl>
      <dt>Nome:</dt>
      <dd>{{ alunoExclusao?.nome }}</dd>
      
      <dt>CPF:</dt>
      <dd>{{ alunoExclusao?.cpf }}</dd>
      
      <dt>Email:</dt>
      <dd>{{ alunoExclusao?.email }}</dd>
    </dl>
    
    <div class="text-center">
      <strong class="text-danger">Esta ação não pode ser desfeita!</strong>
    </div>

  </div>
</app-modal-exclusao-item>
