<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Alunos</strong>
    <a class="btn btn-sm btn-primary" [routerLink]="['../cadastrar']">
      Novo Aluno
    </a>
  </div>

  <app-paginate 
      [paginate]="paginate" 
      (nextPageClicked)="carregarAlunos()"
      (previousPageClicked)="carregarAlunos()">
  </app-paginate>

  <div class="card-body p-0">
    <table class="table table-striped mb-0">
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th class="text-end">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of paginate.content" [@fadeOut]="getState(aluno.id)">
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.cpf | cpfMask }}</td>
          <td>{{ aluno.email | lowercase }}</td>
          <td class="text-end">
            <a [routerLink]="['../editar', aluno.id]" class="btn btn-sm btn-warning me-2">
              Editar
            </a>
            <button class="btn btn-sm btn-danger" (click)="openDeleteModal(aluno)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginate 
      [paginate]="paginate" 
      [displayTotal]="true"
      (nextPageClicked)="carregarAlunos()"
      (previousPageClicked)="carregarAlunos()">
  </app-paginate>
  
</div>

<app-modal-exclusao-aluno [confirmCallback]="confirmarExclusao"/>
